#contact {
  height: 100vh;
}

.contact {

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 16px;  
  
    @media (max-width: $deviceMobile) { 
      justify-content: center;
    }
  }
  
  &__title {
    font-size: 10vw;
    font-weight: 800;
    line-height: 1;
    white-space: nowrap;
    text-indent: -0.5vw;
    letter-spacing: -0.3vw;

    @media (max-width: $deviceMobile){ 
      display: none;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: var(--black);
    color: var(--white);    

    .text {
      position: relative;
      z-index: 100;
      font-size: 3vw;
      font-weight: 900;
      line-height: 1;
      text-decoration: underline;
      text-align: center;      
      transition: all 0.3s;
      cursor: all-scroll;

      @media (max-width: $deviceMobile){ 
        padding: 0 16px;
        font-size: 24px;
        word-break: break-all;
      }
    }
  }

  &__lines {
    width: 100%;

    .line {
      display: block;
      width: 100%;
      height: 1px;
      margin-bottom: 0.5vw;
      background-color: var(--black);

      &:nth-child(1){
        height: 25px;
      }

      &:nth-child(2){
        height: 17px;
      }
      
      &:nth-child(3){
        height: 13px;
      }
      
      &:nth-child(4){
        height: 9px;
      }
      
      &:nth-child(5){
        height: 5px;
      }
      
      &:nth-child(6){
        height: 2px;
      }
      
      &:nth-child(7){
        height: 1px;
      }
    }

    &.top {
      .line {
        display: none;
        margin-top: 0.5vw;
        margin-bottom: 0;

        @media (max-width: 800px){ 
          display: block;
        }

        &:nth-child(1){
          height: 1px;
        }
        
        &:nth-child(2){
          height: 2px;
        }
        
        &:nth-child(3){
          height: 5px;
        }
        
        &:nth-child(4){
          height: 9px;
        }
        
        &:nth-child(5){
          height: 13px;
        }
        
        &:nth-child(6){
          height: 17px;
        }
        
        &:nth-child(7){
          height: 25px;
        }
      }
    }
  }
}