#header {
  @include position-fixed;
  z-index: 100;
}
.header {
  &__inner {
    @include flex-between;
    padding: 1rem;
    background-color: rgba(116, 99, 99, 0.1);
    backdrop-filter: blur(15px);
  }
  
  &__logo {
    font-size: 1rem;
    text-align: center;
    line-height: 1;

    em {
      display: block;
      margin-top: 2px;
      font-size: 10px;
      color: var(--black200);
    }
  }

  &__nav {

    .menu {

      li {
        display: inline;
  
        a {
          position: relative;
          padding: 14px;
          font-size: 14px;
  
          &::before {
            content: '';
            position: absolute;
            left: 14px;
            bottom: 10px;
            width: calc(100% - 28px);
            height: 1px;
            transform: scaleX(0);
            transition: all 0.3s;
            background-color: var(--black);
          }
  
          &:hover::before {
            transform: scaleX(1);
          }
        }
      }
    }    

    &__mobile {
      display: none;
      width: 40px;
      height: 40px;
      cursor: pointer;
  
      @media all and (max-width: $deviceMobile) {
        display: block;
      }
  
      span {
        display: block;
        position: relative;
        width: 40px;
        height: 2px;
        margin-top: 19px;
        background-color: var(--black);
  
        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 8px;
          width: 40px;
          height: 2px;
          background-color: var(--black);        
          transition: width 0.3s;
        }
  
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 8px;
          width: 40px;
          height: 2px;
          background-color: var(--black);       
          transition: width 0.3s;
        }
      }
    }

    @media all and (max-width: $deviceMobile) {
      display: none;

      &.show {
        display: block;

        .menu {
          display: block;
          position: absolute;
          right: 0;
          top: 68px;
          z-index: 100;
          min-width: 150px;
          padding: 20px 0;
          background-color: rgba(116,99,99,0.1);
          backdrop-filter: blur(15px);

          li {
            display: block;
            text-align: right;

            a {
              display: inline-block;
              padding: 10px;
            }
          }
        }
      }

      &.show + .header__nav__mobile span::before {
        width: 20px;
      }
      
      &.show + .header__nav__mobile span::after {
        width: 20px;
      }
    }    
  } 
} 