@charset "utf-8";

/* Reset */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--mainEng-font),var(--mainKor-font), Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",  sans-serif;
  -webkit-text-size-adjust: none;
  word-break: break-word;
  word-wrap: break-word;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: normal;
}

dl,
ul,
ol,
li {
  list-style: none;
}

body,
input,
select,
textarea,
button,
img,
fieldset {
  border: none;
}

label,
img,
input,
select,
textarea,
button,
a {
  vertical-align: middle;
}

img {
  width: 100%;
  -ms-interpolation-mode: bicubic;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

u,
ins,
a {
  color: inherit;
  text-decoration: none;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

button {
  font-family: inherit;
  font-size: 100%;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-weight: inherit;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input,
select {
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  border-radius: 0;
  font-size: 100%;
  outline: none;
}

select::-ms-expand {
  display: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"],
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="date"], 
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  outline: 0;
}
textarea {
  resize: none;
  // overflow: auto;
  // -webkit-appearance: none;
  // resize: vertical;
  // font-size: 100%;
}

::placeholder {
  color: #eee;
  font-weight: 400;
  font-size: inherit
}

::selection {
  background-color: rgba($color: #ECA323, $alpha: .85);
  color: #fff;
}

/* 스킵메뉴 */
#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 1000;
  padding: 10px 30px;
  font-size: 1rem;
  color: var(--white);
  background: var(--black);
}

#skip a:focus,
#skip a:active {
  top: 10px;
}

// #skip,
// .blind {
//   @include blind();
// }